* {
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Nav-section */
.navSection {
  height: 75px !important;
}
/* end */

/* slider section */
.sliderSection {
  display: flex;
  width: 100%;
  min-height: 90.8vh;
  justify-content: center;
  background: url("../Images/HomeBanner.jpg");
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
}

.innerSlide {
  display: flex;
  justify-content: center;
  width: 90%;
  min-height: 90vh;
  align-items: center;
  gap: 40px;
}

.sliderContent {
  color: #fff;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sliderContent h1 {
  background-image: linear-gradient(
    to right,
    #462523 0,
    #f6e27a 22%,
    #f6e27a 55%,
    #f6f2c0 50%,
    #f6e27a 65%,
    #cbc551 88%,
    #462523 100%
  );
  color: transparent;
  -webkit-background-clip: text;
  font-family: "Roboto", system-ui;
  font-size: 50px;
  text-align: center;
  font-weight: 600;
}

.sliderContent p {
  font-size: 24px;
  text-align: center;
}

.app {
  display: flex;
  justify-content: center;
  height: 50px;
}

/* end */

/* Main slider  */
.slider {
  position: relative;
  min-width: 800px;
  height: 450px;
  margin: auto;
  overflow: hidden;
  box-shadow: -5px 5px 30px 5px #ffd200;
  border-radius: 12px;
}

.slider-image {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  z-index: 1;
}

.nav-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.nav-button:first-of-type {
  left: 0;
}

.nav-button:last-of-type {
  right: 0;
}

.indicator-container {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.indicator {
  width: 25px;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 5px;
  /* border-radius: 50%; */
  border-radius: 12px;
  cursor: pointer;
}

.indicator.active {
  background-color: rgba(255, 255, 255, 1);
}

.indicator:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.mainApp {
  display: flex;
  align-items: center;
  width: 500px;
  height: 400px;
  justify-content: space-between;
}

/* End of main slider css */

/* Start of the youtube section */

.youtube {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(
    255,
    255,
    255,
    0.8
  )no-repeat center center fixed;
  background-size: cover;
}

.sticky-content {
  position: relative; /* Default position */
  top: auto; /* Reset default top */
  width: 90%;
  max-height: 90%;
  padding: 20px;
  background: rgba(43, 43, 43, 0.14);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: 0.5s linear;
}

.sticky-content.is-sticky {
  position: fixed; /* Become sticky when the class is applied */
  top: 0px; /* Stick to the top when scrolling */
  width: 100%; /* Full width when sticky */
  background: rgba(43, 43, 43, 0.8); /* Optional: Change background when sticky */
  z-index: 999; /* Ensure it stays on top */
}

.scrollable-section {
  max-height: 80vh; /* Control the height for the scrollable section */
  overflow-y: auto; /* Enable vertical scrolling for the content */
  padding: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center; /* Stack elements vertically */
  gap: 30px; /* Add spacing between sections */
}


.competition,.winner,.quiz,.price{

  width: 500px;
  min-height: 600px;
  border: 4px solid #ffd200;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.scrollable-section:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}


/* End of the youtube section */


/* App starting css */

.ourApp{
  height: 100vh;
}

/* App ending css */
